.app_container {
  height: 100vh;
  display: flex;
  flex-direction: row;
  gap: 40px;
  justify-content: center;
  align-items: center;
  background-color: rgba(128, 128, 128, 0.5);
  font-size: 24px;
  span {
    color: red;
  }
  .app_container_input {
    position: relative;
    input {
      width: 300px;
      height: 31px;
      outline: none;
      border-radius: 3px;
      position: relative;
      padding: 0 10px;
    }
    ul {
      position: absolute;
      border-radius: 3px;
      top: 35px;
      width: 300px;
      height: auto;
      background-color: white;
      overflow-y: scroll;
      li {
        display: flex;
        gap: 4px;
        padding: 2px 4px;
        font-size: 18px;
        &:hover {
          background-color: rgba(17, 129, 160, 0.46);
        }
      }
    }
  }
}
